# Please refer https://aka.ms/HTTPSinContainer on how to setup an https developer certificate for your ASP.NET Core service.

services:
  client:
    image: dicechanics-client
    build:
      context: ./Client
      dockerfile: Dockerfile
    ports:
      - 4200:4200
    develop:
      watch:
        - action: sync
          path: .
          target: /app

  pythonserivce:
    image: pythonservice
    container_name: pythonservice
    build:
      context: ./PythonSerivce
      dockerfile: Dockerfile
    environment:
      - PYTHONNET_PYDLL=/usr/lib/x86_64-linux-gnu/libpython3.12.so
    networks:
      backend:
    ports:
      - 8080:8080

#  caller:
#    image: testcaller
#    depends_on:
#      - pythonserivce
#    build:
#      context: .
#      dockerfile: MicroserviceCaller/Dockerfile
#    environment:
#      - PYTHONSERIVCE=http://pythonservice:8080
#    networks:
#      backend:
networks:
  backend:
